<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roman Apps</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <!-- Awal Navbar -->
    <nav class="nav">
      <div class="logo">
        <h4>Roman Apps</h4>
      </div>

      <ul class="nav__list">
        <li class="nav__item"><a href="#/home">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="http://romansyah.limagangsal.com/">About Us</a></li>
      </ul>

      <div class="menu-toggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Awal Hero -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Makanan Enak dan Sehat</h1>
        <p class="hero__tagline">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, molestiae aliquid? Quia, alias dolorem.</p>
      </div>
    </div>
    <!-- Akhir Hero -->

    <!--Awal Main  -->
    <main id="maincontent">
      <section class="content">
        <div class="latest">
          <h1 class="latest__label">Explore Restaurant</h1>
          <div class="posts">
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="bring your phone cafe" />
              <div class="post-item__content">
                <h5 class="kota">Kota Medan</h5>
                <p class="post-item__date">Rating 4.6</p>
                <h1 class="post-item__title"><a href="#">Bring Your Phone Cafe</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="run the gun" />
              <div class="post-item__content">
                <h5 class="kota">Kota Bali</h5>
                <p class="post-item__date">Rating 4.6</p>
                <h1 class="post-item__title"><a href="#">Run The Gun</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>

            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="pangsit express" />
              <div class="post-item__content">
                <h5 class="kota">Kota Ternate</h5>
                <p class="post-item__date">Rating 4.8</p>
                <h1 class="post-item__title"><a href="#">Pangsit Express</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="ducky duck" />
              <div class="post-item__content">
                <h5 class="kota">Kota Malang</h5>
                <p class="post-item__date">Rating 4.7</p>
                <h1 class="post-item__title"><a href="#">Ducky Duck</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="kafein" />
              <div class="post-item__content">
                <class class="kota">Kota Bali</class>
                <p class="post-item__date">Rating 3.8</p>
                <h1 class="post-item__title"><a href="#">Kafein</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="makan mudah" />
              <div class="post-item__content">
                <h5 class="kota">Kota Malang</h5>
                <p class="post-item__date">Rating 4.6</p>
                <h1 class="post-item__title"><a href="#">Makan mudah</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32" alt="saya suka" />
              <div class="post-item__content">
                <h5 class="kota">Kota Surabaya</h5>
                <p class="post-item__date">Rating 3.6</p>
                <h1 class="post-item__title"><a href="#">Saya Suka</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45" alt="gigitan cepat" />
              <div class="post-item__content">
                <h5 class="kota">Kota Aceh</h5>
                <p class="post-item__date">Rating 4</p>
                <h1 class="post-item__title"><a href="#">Gigitan cepat</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>
            <article class="post-item">
              <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="fairy cafe" />
              <div class="post-item__content">
                <h5 class="kota">Kota Malang</h5>
                <p class="post-item__date">Rating 3.9</p>
                <h1 class="post-item__title"><a href="#">Fairy Cafe</a></h1>
                <p class="post-item__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur velit dolor voluptatem, sapiente neque odio quidem perferendis adipisci recusandae.</p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <!-- Akhir Main -->

    <!-- Awal Footer -->
    <footer>
      <p>Copyright @ 2020 <a href="#">- Roman Apps</a></p>
    </footer>
    <!-- Akhir Footer -->
  </body>
</html>
